* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.localContainer {
	width: 100%;
	height: 65vh;
}

.localMetroContainer {
	width: 33%;
	height: 100%;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.localMidContainer {
	width: 33%;
	height: 100%;
	display: inline-block;
}

.titleContainer {
	width: 100%;
	height: 40%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.localBikeContainer {
	width: 100%;
	height: 60%%;
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.bikeHeader {
	font-family: Helvetica;
	color: #FFCB00;
	padding: 20px;
}

.bikesAvailable {

}

.docksAvailable {

}

.number {

}

.address {

}

.localBusContainer {
	width: 33%;
	height: 100%;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.favContainer {
	width: 100%;
	height: 35vh;
	position: relative;
}

.favMetroContainer {
	width: 33%;
	height: 100%;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.bikeContainer {
	width: 33%;
	height: 100%;
	display: inline-block;
	background-color: #EF2E2F;
}

.favBikeContainer {
	height: 80%;
	background-color: white;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.5;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	overflow-y: scroll;
}

.station-view {
	overflow-y: scroll;
}

.favBusContainer {
	width: 33%;
	height: 100%;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: black;	
}